@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Reddit Mono', monospace;
  text-decoration: none;
}

.container {
    background-color: #0F0D1A;
    height: 100vh;
}

.calc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #F1E9DA;
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 3px rgba(0.0.0.0.150);
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 225px;
    text-align: end;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    font-size: 2rem;
    font-weight: 700;
    color: #0F0D1A;
    box-shadow: inset 1px 0px 10px 7px rgba(0, 0, 0, 0.027);
    margin-bottom: 15px;
}

.buttons {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin: 2.5px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #0F0D1A;
    background-color: #FFF;
    cursor: pointer;
}

.color {
    background-color: #58213B;
    color: #FFF;
    box-shadow: -1px 10px 6px -5px rgba(0,0,0,0.02);
}

.buttons:hover{
    opacity: 0.80;
}

.buttons:active {
    box-shadow: inset -3px 5px 4px 1px rgba(0, 0, 0, 0.199);
    font-size: 1rem;
    opacity: 100%;
}
